<h1>Add New Workout</h1>
<form action='/workouts/new' method='POST'>
  <p>Name: <input type='text' name='name'></p>
  <p>Workout Type: <input type='text' name='workout_type'></p>
  <p>Valid Workout Types are: "Run", "Walk", "Bike", "Swim", and "Hike"</p>
  <p>Duration: <input type='text' name='duration'></p>
  <p>Distance: <input type='text' name='distance'></p>
  <p>Pace: <input type='text' name='pace'></p>
  <input type='submit'>
</form>
