<h1>Welcome Back, <%=@user.username%></h1>
<p><a href="/users/<%="#{@user.id}"%>/update">Account Options</a></p>
<p><a href='/workouts'>View All Workouts</a></p>
<p><a href='/workouts/new'>Add New Workout</a></p>
