<h1>Login Here!</h1>
<form action="/login" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit">
</form>
<br>
<p>Do you need to create a new account?</p>
<p><a href='/signup'>Sign Up Here</a></p>
