<h1>Change Username</h1>
<p>Old Username: <%= @user.username %></p>
<form action="/users/<%="@user.id"%>/update" method='POST'>
  <p>New Username: <input type='text' name='new_username'></p>
  <input type='submit'>
</form>
