<h1>Signup Here!</h1>
<p><%= @error if @error %></p>
<form action="/signup" method="POST">
  <p>Username: <input type="text" name="username"></p>
  <p>Password: <input type="text" name="password"></p>
  <input type="submit">
</form>
